<ng-container [ngSwitch]="signedIn">
    <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="signedInTemplate"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="signedOutTemplate"></ng-container>
</ng-container>

<ng-template #signedInTemplate>
    <button [ngStyle]="{ float: 'right' }" (click)="logout()">Sign out</button>
    <main>
        <h1>
            <label>Hello</label>
            {{ accountId }}
            <label> to {{contractId}}</label>
        </h1>
    </main>
    <div class="container">
        <div class="section">
            <label>Total number of connections:</label>
            <br>
            {{ numberOfConnections }}
            <br>
            <button [ngStyle]="{ borderRadius: '0 5px 5px 0' }" (click)="fetchNumberOfConnections()">
                Refresh
            </button>
        </div>
        <div class="section">
            <form (ngSubmit)="onSubmit($event)">
                <fieldset id="fieldset">
                    <label for="visitor" [ngStyle]="{
          display: 'block',
          color: 'var(--gray)',
          marginBottom: '0.5em'
        }">Visit with name</label>
                    <div [ngStyle]="{ display: 'flex' }">
                        <input
                                [ngStyle]="{ flexGrow: 1 }"
                                type="text"
                                id="visitor"
                                name="visitor"
                                autoComplete="off"
                                [(ngModel)]="newVisitor"
                                required
                        />
                        <button [ngStyle]="{ borderRadius: '0 5px 5px 0' }" type="submit" [disabled]="buttonDisabled">
                            Visit
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="section">
            <label>Last visitor:</label>
            <br>
            {{ previousVisitor }}
            <br>
            <button [ngStyle]="{ borderRadius: '0 5px 5px 0' }" (click)="fetchPreviousVisitor()">
                Refresh
            </button>
        </div>


    </div>
    <app-notification [accountId]="accountId" [contractId]="contractId" *ngIf="showNotification"></app-notification>
</ng-template>

<ng-template #signedOutTemplate>
    <main>
        <h1>Welcome to NEAR!</h1>
        <p>
            To make use of the NEAR blockchain, you need to sign in. The button
            below will sign you in using NEAR Wallet.
        </p>
        <p>
            By default, when your app runs in "development" mode, it connects
            to a test network ("testnet") wallet. This works just like the main
            network ("mainnet") wallet, but the NEAR Tokens on testnet aren't
            convertible to other currencies – they're just for testing!
        </p>
        <p>
            Go ahead and click the button below to try it out:
        </p>
        <p [ngStyle]="{ textAlign: 'center', marginTop: '2.5em' }">
            <button type="button" (click)="login()">Sign in</button>
        </p>
    </main>
</ng-template>
