.welcome {
    background-image: url(../../../assets/logo-black.svg);
    background-position: center 1em;
    background-repeat: no-repeat;
    background-size: auto 3.5em;
    margin-top: 0;
    padding: 3.5em 0 0.5em;
    text-align: center;
}

.top{
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
    padding: 25px;
    text-align: center;
    border: 10px solid lightcyan;
}

.sector {
    width: 27%;
    margin: 3%;
    display: inline-block;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
    padding: 25px;
    border: 10px solid lightcyan;
}